<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Félicitations !</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}">
</head>
<body>
    <div class="container">
        <h1>🎉 Félicitations ! 🎉</h1>
        <p>Vous êtes sur la page d'inscription pour le concour !🐶🎁</p>
        <p>Merci de cliquer sur "Continuer" pour vous inscrire au tirage au sort.</p>
        <button onclick="window.location.href= '/phone'" >Continuer</button>
    </div>
</body>
</html>
