<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Téléphone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Entrez vos informations :</h2>
        <form method="post">
            <input type="text" name="name" required placeholder="Nom">
            <input type="email" name="email" required placeholder="Email">
            <input type="tel" name="phone" required placeholder="+33 6 12 34 56 78">
            <input type="text" name="adress" required placeholder="Adresse">
            <input type="text" name="zip_code" required placeholder="Code postal">
            <input type="text" name="city" required placeholder="Ville"> 
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>
