<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Remercimant</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles_thanks.css') }}">
</head>
<body>
<div class="container">

    <h2>🎉 En vous remerciant pour votre participation ! 🎉</h2>
    <p> Vous serez recontacter par notre équipe.</p>
    <p>Votre boule de poile vous remercie par avance !</p>

</div>
<div class="confetti-container" id="confetti"></div>
<script>
  const confettiContainer = document.getElementById('confetti');
  const colors = ['#e74c3c', '#f1c40f', '#2ecc71', '#3498db', '#9b59b6', '#e67e22'];

  function createConfetti() {
    const confetti = document.createElement('div');
    confetti.classList.add('confetti');
    confetti.style.left = Math.random() * 100 + 'vw';
    confetti.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
    confetti.style.animationDuration = (Math.random() * 3 + 2) + 's'; // durée entre 2 et 5s
    confetti.style.width = confetti.style.height = (Math.random() * 7 + 7) + 'px'; // taille 7px-14px
    confetti.style.top = '-10px';

    confettiContainer.appendChild(confetti);

    // Supprime le confetti après animation
    setTimeout(() => {
      confetti.remove();
    }, 5000);
  }

  // Génère plusieurs confettis régulièrement
  setInterval(createConfetti, 50);
</script>
</body>
</html>

